apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
spec:
  selector:
    matchLabels:
      app: bot
  replicas: 3
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
        - name: bot-app
          image: mallik2001/bot:tag
          imagePullPolicy: Always  # Force pull the latest image
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: bot-service
spec:
  type: LoadBalancer
  selector:
    app: bot
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 80
      nodePort: 32080


































